{ config, pkgs, ... }:

{
  # WiFi Configuration Template
  # Copy this file to wifi-config.nix and add your credentials
  # wifi-config.nix is gitignored and won't be committed
  
  networking.wireless.networks = {
    "YOUR_SSID_HERE" = {
      psk = "YOUR_PASSWORD_HERE";
    };
    # You can add multiple networks:
    # "Another_Network" = {
    #   psk = "another_password";
    # };
  };
}
